<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>B</key>
  <dict>
    <key>AE</key>
    <integer>-20</integer>
    <key>V</key>
    <integer>-15</integer>
    <key>x</key>
    <integer>-5</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>AE</key>
    <integer>-70</integer>
    <key>oslash</key>
    <integer>-10</integer>
    <key>v</key>
    <integer>-20</integer>
    <key>x</key>
    <integer>-25</integer>
    <key>public.kern2.ARight</key>
    <integer>-50</integer>
    <key>public.kern2.J.ss01Right</key>
    <integer>-70</integer>
    <key>public.kern2.aRight</key>
    <integer>-50</integer>
    <key>public.kern2.colon</key>
    <integer>-20</integer>
    <key>public.kern2.commaRight</key>
    <integer>-60</integer>
    <key>public.kern2.dRight</key>
    <integer>-10</integer>
    <key>public.kern2.fRight</key>
    <integer>-10</integer>
    <key>public.kern2.gRight</key>
    <integer>-15</integer>
    <key>public.kern2.guilsinglright</key>
    <integer>-25</integer>
    <key>public.kern2.hyphen</key>
    <integer>-15</integer>
    <key>public.kern2.nRight</key>
    <integer>-15</integer>
    <key>public.kern2.oRight</key>
    <integer>-15</integer>
    <key>public.kern2.qRight</key>
    <integer>-10</integer>
    <key>public.kern2.s.ss03Right</key>
    <integer>-10</integer>
    <key>public.kern2.sRight</key>
    <integer>-20</integer>
    <key>public.kern2.tRight</key>
    <integer>-10</integer>
    <key>public.kern2.uRight</key>
    <integer>-15</integer>
    <key>public.kern2.wRight</key>
    <integer>-25</integer>
    <key>public.kern2.yRight</key>
    <integer>-20</integer>
    <key>public.kern2.zRight</key>
    <integer>-10</integer>
  </dict>
  <key>H</key>
  <dict>
    <key>public.kern2.WRight</key>
    <integer>-5</integer>
  </dict>
  <key>Hbar</key>
  <dict>
    <key>public.kern2.WRight</key>
    <integer>-5</integer>
  </dict>
  <key>Hcaron</key>
  <dict>
    <key>public.kern2.WRight</key>
    <integer>-5</integer>
  </dict>
  <key>Hcircumflex</key>
  <dict>
    <key>public.kern2.WRight</key>
    <integer>-5</integer>
  </dict>
  <key>I</key>
  <dict>
    <key>public.kern2.WRight</key>
    <integer>-5</integer>
  </dict>
  <key>Iacute</key>
  <dict>
    <key>public.kern2.WRight</key>
    <integer>-5</integer>
  </dict>
  <key>Icaron</key>
  <dict>
    <key>public.kern2.WRight</key>
    <integer>-5</integer>
  </dict>
  <key>Icircumflex</key>
  <dict>
    <key>public.kern2.WRight</key>
    <integer>-5</integer>
  </dict>
  <key>Idieresis</key>
  <dict>
    <key>public.kern2.WRight</key>
    <integer>-5</integer>
  </dict>
  <key>Idotaccent</key>
  <dict>
    <key>public.kern2.WRight</key>
    <integer>-5</integer>
  </dict>
  <key>Igrave</key>
  <dict>
    <key>public.kern2.WRight</key>
    <integer>-5</integer>
  </dict>
  <key>Imacron</key>
  <dict>
    <key>public.kern2.WRight</key>
    <integer>-5</integer>
  </dict>
  <key>Iogonek</key>
  <dict>
    <key>public.kern2.WRight</key>
    <integer>-5</integer>
  </dict>
  <key>Itilde</key>
  <dict>
    <key>public.kern2.WRight</key>
    <integer>-5</integer>
  </dict>
  <key>L</key>
  <dict>
    <key>Oslash</key>
    <integer>-10</integer>
    <key>V</key>
    <integer>-50</integer>
    <key>v</key>
    <integer>-50</integer>
    <key>public.kern2.CRight</key>
    <integer>-5</integer>
    <key>public.kern2.GRight</key>
    <integer>-5</integer>
    <key>public.kern2.Oright</key>
    <integer>-10</integer>
    <key>public.kern2.TRight</key>
    <integer>-60</integer>
    <key>public.kern2.URight</key>
    <integer>-5</integer>
    <key>public.kern2.WRight</key>
    <integer>-45</integer>
    <key>public.kern2.YRight</key>
    <integer>-90</integer>
    <key>public.kern2.fRight</key>
    <integer>-20</integer>
    <key>public.kern2.gRight</key>
    <integer>-5</integer>
    <key>public.kern2.oRight</key>
    <integer>-5</integer>
    <key>public.kern2.qRight</key>
    <integer>-5</integer>
    <key>public.kern2.quoteright</key>
    <integer>-60</integer>
    <key>public.kern2.quotesingle</key>
    <integer>-50</integer>
    <key>public.kern2.tRight</key>
    <integer>-15</integer>
    <key>public.kern2.wRight</key>
    <integer>-35</integer>
    <key>public.kern2.yRight</key>
    <integer>-85</integer>
  </dict>
  <key>Lacute</key>
  <dict>
    <key>Oslash</key>
    <integer>-10</integer>
    <key>V</key>
    <integer>-50</integer>
    <key>v</key>
    <integer>-50</integer>
    <key>public.kern2.CRight</key>
    <integer>-5</integer>
    <key>public.kern2.GRight</key>
    <integer>-5</integer>
    <key>public.kern2.Oright</key>
    <integer>-10</integer>
    <key>public.kern2.TRight</key>
    <integer>-60</integer>
    <key>public.kern2.URight</key>
    <integer>-5</integer>
    <key>public.kern2.WRight</key>
    <integer>-45</integer>
    <key>public.kern2.YRight</key>
    <integer>-90</integer>
    <key>public.kern2.fRight</key>
    <integer>-20</integer>
    <key>public.kern2.gRight</key>
    <integer>-5</integer>
    <key>public.kern2.oRight</key>
    <integer>-5</integer>
    <key>public.kern2.qRight</key>
    <integer>-5</integer>
    <key>public.kern2.quoteright</key>
    <integer>-60</integer>
    <key>public.kern2.quotesingle</key>
    <integer>-50</integer>
    <key>public.kern2.tRight</key>
    <integer>-15</integer>
    <key>public.kern2.wRight</key>
    <integer>-35</integer>
    <key>public.kern2.yRight</key>
    <integer>-85</integer>
  </dict>
  <key>Lcommaaccent</key>
  <dict>
    <key>Oslash</key>
    <integer>-10</integer>
    <key>V</key>
    <integer>-50</integer>
    <key>v</key>
    <integer>-50</integer>
    <key>public.kern2.CRight</key>
    <integer>-5</integer>
    <key>public.kern2.GRight</key>
    <integer>-5</integer>
    <key>public.kern2.Oright</key>
    <integer>-10</integer>
    <key>public.kern2.TRight</key>
    <integer>-60</integer>
    <key>public.kern2.URight</key>
    <integer>-5</integer>
    <key>public.kern2.WRight</key>
    <integer>-45</integer>
    <key>public.kern2.YRight</key>
    <integer>-90</integer>
    <key>public.kern2.fRight</key>
    <integer>-20</integer>
    <key>public.kern2.gRight</key>
    <integer>-5</integer>
    <key>public.kern2.oRight</key>
    <integer>-5</integer>
    <key>public.kern2.qRight</key>
    <integer>-5</integer>
    <key>public.kern2.quoteright</key>
    <integer>-60</integer>
    <key>public.kern2.quotesingle</key>
    <integer>-50</integer>
    <key>public.kern2.tRight</key>
    <integer>-15</integer>
    <key>public.kern2.wRight</key>
    <integer>-35</integer>
    <key>public.kern2.yRight</key>
    <integer>-85</integer>
  </dict>
  <key>Lslash</key>
  <dict>
    <key>Oslash</key>
    <integer>-10</integer>
    <key>V</key>
    <integer>-50</integer>
    <key>v</key>
    <integer>-50</integer>
    <key>public.kern2.CRight</key>
    <integer>-5</integer>
    <key>public.kern2.GRight</key>
    <integer>-5</integer>
    <key>public.kern2.Oright</key>
    <integer>-10</integer>
    <key>public.kern2.TRight</key>
    <integer>-60</integer>
    <key>public.kern2.URight</key>
    <integer>-5</integer>
    <key>public.kern2.WRight</key>
    <integer>-45</integer>
    <key>public.kern2.YRight</key>
    <integer>-90</integer>
    <key>public.kern2.fRight</key>
    <integer>-20</integer>
    <key>public.kern2.gRight</key>
    <integer>-5</integer>
    <key>public.kern2.oRight</key>
    <integer>-5</integer>
    <key>public.kern2.qRight</key>
    <integer>-5</integer>
    <key>public.kern2.quoteright</key>
    <integer>-60</integer>
    <key>public.kern2.quotesingle</key>
    <integer>-50</integer>
    <key>public.kern2.tRight</key>
    <integer>-15</integer>
    <key>public.kern2.wRight</key>
    <integer>-35</integer>
    <key>public.kern2.yRight</key>
    <integer>-85</integer>
  </dict>
  <key>M</key>
  <dict>
    <key>public.kern2.WRight</key>
    <integer>-5</integer>
  </dict>
  <key>N</key>
  <dict>
    <key>public.kern2.WRight</key>
    <integer>-5</integer>
  </dict>
  <key>Nacute</key>
  <dict>
    <key>public.kern2.WRight</key>
    <integer>-5</integer>
  </dict>
  <key>Ncaron</key>
  <dict>
    <key>public.kern2.WRight</key>
    <integer>-5</integer>
  </dict>
  <key>Ncommaaccent</key>
  <dict>
    <key>public.kern2.WRight</key>
    <integer>-5</integer>
  </dict>
  <key>Ngrave</key>
  <dict>
    <key>public.kern2.WRight</key>
    <integer>-5</integer>
  </dict>
  <key>Ntilde</key>
  <dict>
    <key>public.kern2.WRight</key>
    <integer>-5</integer>
  </dict>
  <key>Oslash</key>
  <dict>
    <key>V</key>
    <integer>-20</integer>
    <key>public.kern2.J.ss01Right</key>
    <integer>-10</integer>
    <key>public.kern2.TRight</key>
    <integer>-5</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>public.kern2.ARight</key>
    <integer>-40</integer>
    <key>public.kern2.J.ss01Right</key>
    <integer>-60</integer>
    <key>public.kern2.YRight</key>
    <integer>-15</integer>
    <key>public.kern2.aRight</key>
    <integer>-45</integer>
    <key>public.kern2.commaRight</key>
    <integer>-80</integer>
    <key>public.kern2.hyphen</key>
    <integer>-5</integer>
    <key>public.kern2.sRight</key>
    <integer>-10</integer>
  </dict>
  <key>Thorn</key>
  <dict>
    <key>public.kern2.AERight</key>
    <integer>-60</integer>
    <key>public.kern2.aRight</key>
    <integer>-15</integer>
  </dict>
  <key>V</key>
  <dict>
    <key>AE</key>
    <integer>-70</integer>
    <key>Oslash</key>
    <integer>-15</integer>
    <key>p</key>
    <integer>-20</integer>
    <key>v</key>
    <integer>-15</integer>
    <key>x</key>
    <integer>-15</integer>
    <key>public.kern2.ARight</key>
    <integer>-50</integer>
    <key>public.kern2.CRight</key>
    <integer>-20</integer>
    <key>public.kern2.GRight</key>
    <integer>-15</integer>
    <key>public.kern2.Oright</key>
    <integer>-10</integer>
    <key>public.kern2.S.ss03Right</key>
    <integer>-10</integer>
    <key>public.kern2.S.ss04Right</key>
    <integer>-25</integer>
    <key>public.kern2.SRight</key>
    <integer>-20</integer>
    <key>public.kern2.aRight</key>
    <integer>-60</integer>
    <key>public.kern2.colon</key>
    <integer>-20</integer>
    <key>public.kern2.commaRight</key>
    <integer>-70</integer>
    <key>public.kern2.dRight</key>
    <integer>-25</integer>
    <key>public.kern2.fRight</key>
    <integer>-10</integer>
    <key>public.kern2.gRight</key>
    <integer>-40</integer>
    <key>public.kern2.guilsinglright</key>
    <integer>-30</integer>
    <key>public.kern2.hyphen</key>
    <integer>-30</integer>
    <key>public.kern2.nRight</key>
    <integer>-10</integer>
    <key>public.kern2.oRight</key>
    <integer>-35</integer>
    <key>public.kern2.qRight</key>
    <integer>-35</integer>
    <key>public.kern2.s.ss03Right</key>
    <integer>-30</integer>
    <key>public.kern2.sRight</key>
    <integer>-45</integer>
    <key>public.kern2.uRight</key>
    <integer>-20</integer>
    <key>public.kern2.wRight</key>
    <integer>-10</integer>
    <key>public.kern2.yRight</key>
    <integer>-10</integer>
    <key>public.kern2.zRight</key>
    <integer>-20</integer>
  </dict>
  <key>X</key>
  <dict>
    <key>v</key>
    <integer>-40</integer>
    <key>public.kern2.CRight</key>
    <integer>-30</integer>
    <key>public.kern2.Oright</key>
    <integer>-20</integer>
    <key>public.kern2.URight</key>
    <integer>-5</integer>
    <key>public.kern2.aRight</key>
    <integer>-10</integer>
    <key>public.kern2.dRight</key>
    <integer>-10</integer>
    <key>public.kern2.fRight</key>
    <integer>-20</integer>
    <key>public.kern2.gRight</key>
    <integer>-30</integer>
    <key>public.kern2.hyphen</key>
    <integer>-30</integer>
    <key>public.kern2.oRight</key>
    <integer>-10</integer>
    <key>public.kern2.qRight</key>
    <integer>-10</integer>
    <key>public.kern2.tRight</key>
    <integer>-20</integer>
    <key>public.kern2.uRight</key>
    <integer>-15</integer>
    <key>public.kern2.wRight</key>
    <integer>-30</integer>
    <key>public.kern2.yRight</key>
    <integer>-50</integer>
  </dict>
  <key>b</key>
  <dict>
    <key>v</key>
    <integer>-25</integer>
    <key>public.kern2.aRight</key>
    <integer>-10</integer>
    <key>public.kern2.commaRight</key>
    <integer>-20</integer>
    <key>public.kern2.quoteright</key>
    <integer>-10</integer>
    <key>public.kern2.quotesingle</key>
    <integer>-20</integer>
    <key>public.kern2.wRight</key>
    <integer>-10</integer>
    <key>public.kern2.yRight</key>
    <integer>-25</integer>
  </dict>
  <key>eth</key>
  <dict>
    <key>v</key>
    <integer>-30</integer>
  </dict>
  <key>four</key>
  <dict>
    <key>one</key>
    <integer>-10</integer>
    <key>seven</key>
    <integer>-10</integer>
  </dict>
  <key>nine</key>
  <dict>
    <key>four</key>
    <integer>-50</integer>
    <key>six</key>
    <integer>-30</integer>
    <key>three</key>
    <integer>-5</integer>
  </dict>
  <key>oslash</key>
  <dict>
    <key>v</key>
    <integer>-20</integer>
  </dict>
  <key>p</key>
  <dict>
    <key>v</key>
    <integer>-15</integer>
    <key>public.kern2.aRight</key>
    <integer>-5</integer>
    <key>public.kern2.commaRight</key>
    <integer>-15</integer>
    <key>public.kern2.quoteright</key>
    <integer>-15</integer>
    <key>public.kern2.quotesingle</key>
    <integer>-30</integer>
    <key>public.kern2.yRight</key>
    <integer>-30</integer>
  </dict>
  <key>parenleft</key>
  <dict>
    <key>public.kern2.J.ss01Right</key>
    <integer>20</integer>
    <key>public.kern2.JRight</key>
    <integer>80</integer>
    <key>public.kern2.jRight</key>
    <integer>20</integer>
  </dict>
  <key>questiondown</key>
  <dict>
    <key>V</key>
    <integer>-80</integer>
    <key>public.kern2.TRight</key>
    <integer>-70</integer>
    <key>public.kern2.YRight</key>
    <integer>-120</integer>
  </dict>
  <key>quotesinglbase</key>
  <dict>
    <key>V</key>
    <integer>-60</integer>
    <key>v</key>
    <integer>-70</integer>
    <key>public.kern2.CRight</key>
    <integer>-20</integer>
    <key>public.kern2.GRight</key>
    <integer>-15</integer>
    <key>public.kern2.Oright</key>
    <integer>-15</integer>
    <key>public.kern2.TRight</key>
    <integer>-60</integer>
    <key>public.kern2.URight</key>
    <integer>-15</integer>
    <key>public.kern2.WRight</key>
    <integer>-70</integer>
    <key>public.kern2.YRight</key>
    <integer>-110</integer>
    <key>public.kern2.tRight</key>
    <integer>-40</integer>
    <key>public.kern2.wRight</key>
    <integer>-40</integer>
    <key>public.kern2.yRight</key>
    <integer>-60</integer>
  </dict>
  <key>seven</key>
  <dict>
    <key>four</key>
    <integer>-88</integer>
    <key>one</key>
    <integer>5</integer>
    <key>seven</key>
    <integer>5</integer>
    <key>six</key>
    <integer>-80</integer>
    <key>two</key>
    <integer>-6</integer>
  </dict>
  <key>six</key>
  <dict>
    <key>nine</key>
    <integer>-20</integer>
    <key>one</key>
    <integer>-30</integer>
    <key>seven</key>
    <integer>-20</integer>
  </dict>
  <key>space</key>
  <dict>
    <key>J</key>
    <integer>50</integer>
  </dict>
  <key>tcaron</key>
  <dict>
    <key>public.kern2.TRight</key>
    <integer>40</integer>
    <key>public.kern2.YRight</key>
    <integer>40</integer>
    <key>public.kern2.ZRight</key>
    <integer>50</integer>
    <key>public.kern2.aRight</key>
    <integer>-20</integer>
    <key>public.kern2.hyphen</key>
    <integer>-30</integer>
    <key>public.kern2.quoteright</key>
    <integer>20</integer>
  </dict>
  <key>three</key>
  <dict>
    <key>nine</key>
    <integer>-15</integer>
    <key>one</key>
    <integer>-10</integer>
  </dict>
  <key>two</key>
  <dict>
    <key>seven</key>
    <integer>-5</integer>
  </dict>
  <key>x</key>
  <dict>
    <key>public.kern2.hyphen</key>
    <integer>-40</integer>
    <key>public.kern2.oRight</key>
    <integer>-25</integer>
  </dict>
  <key>public.kern1.ALeft</key>
  <dict>
    <key>V</key>
    <integer>-50</integer>
    <key>eth</key>
    <integer>-5</integer>
    <key>v</key>
    <integer>-55</integer>
    <key>public.kern2.CRight</key>
    <integer>-20</integer>
    <key>public.kern2.GRight</key>
    <integer>-20</integer>
    <key>public.kern2.JRight</key>
    <integer>30</integer>
    <key>public.kern2.Oright</key>
    <integer>-25</integer>
    <key>public.kern2.S.ss03Right</key>
    <integer>-20</integer>
    <key>public.kern2.S.ss04Right</key>
    <integer>-20</integer>
    <key>public.kern2.SRight</key>
    <integer>-20</integer>
    <key>public.kern2.TRight</key>
    <integer>-50</integer>
    <key>public.kern2.URight</key>
    <integer>-18</integer>
    <key>public.kern2.WRight</key>
    <integer>-70</integer>
    <key>public.kern2.YRight</key>
    <integer>-70</integer>
    <key>public.kern2.dRight</key>
    <integer>-10</integer>
    <key>public.kern2.fRight</key>
    <integer>-30</integer>
    <key>public.kern2.gRight</key>
    <integer>-20</integer>
    <key>public.kern2.hyphen</key>
    <integer>-15</integer>
    <key>public.kern2.oRight</key>
    <integer>-10</integer>
    <key>public.kern2.qRight</key>
    <integer>-10</integer>
    <key>public.kern2.quoteright</key>
    <integer>-50</integer>
    <key>public.kern2.quotesingle</key>
    <integer>-60</integer>
    <key>public.kern2.tRight</key>
    <integer>-30</integer>
    <key>public.kern2.uRight</key>
    <integer>-10</integer>
    <key>public.kern2.wRight</key>
    <integer>-35</integer>
    <key>public.kern2.yRight</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.BLeft</key>
  <dict>
    <key>public.kern2.ARight</key>
    <integer>-15</integer>
    <key>public.kern2.TRight</key>
    <integer>-15</integer>
    <key>public.kern2.WRight</key>
    <integer>-15</integer>
    <key>public.kern2.YRight</key>
    <integer>-20</integer>
    <key>public.kern2.yRight</key>
    <integer>-5</integer>
  </dict>
  <key>public.kern1.CLeft</key>
  <dict>
    <key>J</key>
    <integer>35</integer>
    <key>v</key>
    <integer>-30</integer>
    <key>x</key>
    <integer>-15</integer>
    <key>public.kern2.ARight</key>
    <integer>-10</integer>
    <key>public.kern2.CRight</key>
    <integer>-10</integer>
    <key>public.kern2.GRight</key>
    <integer>-5</integer>
    <key>public.kern2.Oright</key>
    <integer>-5</integer>
    <key>public.kern2.YRight</key>
    <integer>-25</integer>
    <key>public.kern2.aRight</key>
    <integer>-5</integer>
    <key>public.kern2.fRight</key>
    <integer>-15</integer>
    <key>public.kern2.gRight</key>
    <integer>-5</integer>
    <key>public.kern2.tRight</key>
    <integer>-20</integer>
    <key>public.kern2.yRight</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.DLeft</key>
  <dict>
    <key>V</key>
    <integer>-10</integer>
    <key>x</key>
    <integer>-10</integer>
    <key>public.kern2.AERight</key>
    <integer>-45</integer>
    <key>public.kern2.ARight</key>
    <integer>-20</integer>
    <key>public.kern2.J.ss01Right</key>
    <integer>-10</integer>
    <key>public.kern2.WRight</key>
    <integer>-15</integer>
    <key>public.kern2.YRight</key>
    <integer>-35</integer>
    <key>public.kern2.ZRight</key>
    <integer>-5</integer>
    <key>public.kern2.aRight</key>
    <integer>-5</integer>
    <key>public.kern2.commaRight</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.ELeft</key>
  <dict>
    <key>v</key>
    <integer>-15</integer>
    <key>public.kern2.fRight</key>
    <integer>-10</integer>
    <key>public.kern2.wRight</key>
    <integer>-10</integer>
    <key>public.kern2.yRight</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.GLeft</key>
  <dict>
    <key>V</key>
    <integer>-25</integer>
    <key>v</key>
    <integer>-15</integer>
    <key>x</key>
    <integer>-20</integer>
    <key>public.kern2.AERight</key>
    <integer>-35</integer>
    <key>public.kern2.ARight</key>
    <integer>-20</integer>
    <key>public.kern2.TRight</key>
    <integer>-45</integer>
    <key>public.kern2.WRight</key>
    <integer>-25</integer>
    <key>public.kern2.YRight</key>
    <integer>-45</integer>
    <key>public.kern2.commaRight</key>
    <integer>-10</integer>
    <key>public.kern2.wRight</key>
    <integer>-5</integer>
    <key>public.kern2.yRight</key>
    <integer>-15</integer>
  </dict>
  <key>public.kern1.HLeft</key>
  <dict>
    <key>public.kern2.JRight</key>
    <integer>30</integer>
  </dict>
  <key>public.kern1.J.ss01Left</key>
  <dict>
    <key>public.kern2.AERight</key>
    <integer>-50</integer>
    <key>public.kern2.ARight</key>
    <integer>-30</integer>
    <key>public.kern2.J.ss01Right</key>
    <integer>-20</integer>
    <key>public.kern2.commaRight</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.JLeft</key>
  <dict>
    <key>x</key>
    <integer>-5</integer>
    <key>public.kern2.AERight</key>
    <integer>-20</integer>
    <key>public.kern2.ARight</key>
    <integer>-15</integer>
    <key>public.kern2.JRight</key>
    <integer>30</integer>
    <key>public.kern2.commaRight</key>
    <integer>-5</integer>
    <key>public.kern2.yRight</key>
    <integer>-5</integer>
  </dict>
  <key>public.kern1.KLeft</key>
  <dict>
    <key>Oslash</key>
    <integer>-25</integer>
    <key>V</key>
    <integer>-15</integer>
    <key>oslash</key>
    <integer>-20</integer>
    <key>v</key>
    <integer>-60</integer>
    <key>public.kern2.CRight</key>
    <integer>-40</integer>
    <key>public.kern2.GRight</key>
    <integer>-30</integer>
    <key>public.kern2.Oright</key>
    <integer>-30</integer>
    <key>public.kern2.URight</key>
    <integer>-20</integer>
    <key>public.kern2.WRight</key>
    <integer>-10</integer>
    <key>public.kern2.YRight</key>
    <integer>-15</integer>
    <key>public.kern2.aRight</key>
    <integer>-25</integer>
    <key>public.kern2.dRight</key>
    <integer>-25</integer>
    <key>public.kern2.fRight</key>
    <integer>-30</integer>
    <key>public.kern2.gRight</key>
    <integer>-30</integer>
    <key>public.kern2.hyphen</key>
    <integer>-40</integer>
    <key>public.kern2.nRight</key>
    <integer>-5</integer>
    <key>public.kern2.oRight</key>
    <integer>-30</integer>
    <key>public.kern2.qRight</key>
    <integer>-25</integer>
    <key>public.kern2.tRight</key>
    <integer>-50</integer>
    <key>public.kern2.uRight</key>
    <integer>-20</integer>
    <key>public.kern2.wRight</key>
    <integer>-50</integer>
    <key>public.kern2.yRight</key>
    <integer>-80</integer>
  </dict>
  <key>public.kern1.LLeft</key>
  <dict>
    <key>public.kern2.HRight</key>
    <integer>15</integer>
  </dict>
  <key>public.kern1.OLeft</key>
  <dict>
    <key>V</key>
    <integer>-10</integer>
    <key>X</key>
    <integer>-20</integer>
    <key>public.kern2.AERight</key>
    <integer>-35</integer>
    <key>public.kern2.ARight</key>
    <integer>-20</integer>
    <key>public.kern2.J.ss01Right</key>
    <integer>-10</integer>
    <key>public.kern2.TRight</key>
    <integer>-5</integer>
    <key>public.kern2.WRight</key>
    <integer>-15</integer>
    <key>public.kern2.YRight</key>
    <integer>-25</integer>
    <key>public.kern2.aRight</key>
    <integer>-5</integer>
    <key>public.kern2.commaRight</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.RLeft</key>
  <dict>
    <key>V</key>
    <integer>-5</integer>
    <key>v</key>
    <integer>-5</integer>
    <key>public.kern2.WRight</key>
    <integer>-10</integer>
    <key>public.kern2.YRight</key>
    <integer>-20</integer>
    <key>public.kern2.dRight</key>
    <integer>-10</integer>
    <key>public.kern2.gRight</key>
    <integer>-15</integer>
    <key>public.kern2.hyphen</key>
    <integer>-15</integer>
    <key>public.kern2.oRight</key>
    <integer>-10</integer>
    <key>public.kern2.qRight</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.S.ss03Left</key>
  <dict>
    <key>V</key>
    <integer>-15</integer>
    <key>public.kern2.AERight</key>
    <integer>-30</integer>
    <key>public.kern2.ARight</key>
    <integer>-10</integer>
    <key>public.kern2.YRight</key>
    <integer>-25</integer>
    <key>public.kern2.tRight</key>
    <integer>-10</integer>
    <key>public.kern2.wRight</key>
    <integer>-20</integer>
    <key>public.kern2.yRight</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.S.ss04Left</key>
  <dict>
    <key>V</key>
    <integer>-15</integer>
    <key>v</key>
    <integer>-40</integer>
    <key>x</key>
    <integer>-25</integer>
    <key>public.kern2.AERight</key>
    <integer>-30</integer>
    <key>public.kern2.ARight</key>
    <integer>-10</integer>
    <key>public.kern2.WRight</key>
    <integer>-10</integer>
    <key>public.kern2.YRight</key>
    <integer>-15</integer>
    <key>public.kern2.fRight</key>
    <integer>-15</integer>
    <key>public.kern2.quoteright</key>
    <integer>-15</integer>
    <key>public.kern2.tRight</key>
    <integer>-15</integer>
    <key>public.kern2.wRight</key>
    <integer>-30</integer>
    <key>public.kern2.yRight</key>
    <integer>-55</integer>
    <key>public.kern2.zRight</key>
    <integer>-5</integer>
  </dict>
  <key>public.kern1.SLeft</key>
  <dict>
    <key>V</key>
    <integer>-10</integer>
    <key>public.kern2.AERight</key>
    <integer>-40</integer>
    <key>public.kern2.ARight</key>
    <integer>-30</integer>
    <key>public.kern2.TRight</key>
    <integer>-10</integer>
    <key>public.kern2.WRight</key>
    <integer>-10</integer>
    <key>public.kern2.YRight</key>
    <integer>-20</integer>
    <key>public.kern2.aRight</key>
    <integer>-15</integer>
    <key>public.kern2.wRight</key>
    <integer>-10</integer>
    <key>public.kern2.yRight</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.TLeft</key>
  <dict>
    <key>Oslash</key>
    <integer>-5</integer>
    <key>oslash</key>
    <integer>-70</integer>
    <key>p</key>
    <integer>-15</integer>
    <key>v</key>
    <integer>-20</integer>
    <key>x</key>
    <integer>-15</integer>
    <key>public.kern2.AERight</key>
    <integer>-70</integer>
    <key>public.kern2.ARight</key>
    <integer>-50</integer>
    <key>public.kern2.CRight</key>
    <integer>-10</integer>
    <key>public.kern2.GRight</key>
    <integer>-5</integer>
    <key>public.kern2.J.ss01Right</key>
    <integer>-50</integer>
    <key>public.kern2.Oright</key>
    <integer>-5</integer>
    <key>public.kern2.S.ss03Right</key>
    <integer>-5</integer>
    <key>public.kern2.S.ss04Right</key>
    <integer>-10</integer>
    <key>public.kern2.SRight</key>
    <integer>-10</integer>
    <key>public.kern2.aRight</key>
    <integer>-70</integer>
    <key>public.kern2.colon</key>
    <integer>-30</integer>
    <key>public.kern2.commaRight</key>
    <integer>-65</integer>
    <key>public.kern2.dRight</key>
    <integer>-65</integer>
    <key>public.kern2.fRight</key>
    <integer>-20</integer>
    <key>public.kern2.gRight</key>
    <integer>-65</integer>
    <key>public.kern2.guilsinglright</key>
    <integer>-30</integer>
    <key>public.kern2.hyphen</key>
    <integer>-55</integer>
    <key>public.kern2.nRight</key>
    <integer>-15</integer>
    <key>public.kern2.oRight</key>
    <integer>-65</integer>
    <key>public.kern2.qRight</key>
    <integer>-65</integer>
    <key>public.kern2.s.ss03Right</key>
    <integer>-70</integer>
    <key>public.kern2.sRight</key>
    <integer>-75</integer>
    <key>public.kern2.uRight</key>
    <integer>-25</integer>
    <key>public.kern2.wRight</key>
    <integer>-20</integer>
    <key>public.kern2.yRight</key>
    <integer>-50</integer>
    <key>public.kern2.zRight</key>
    <integer>-15</integer>
  </dict>
  <key>public.kern1.ULeft</key>
  <dict>
    <key>public.kern2.ARight</key>
    <integer>-20</integer>
    <key>public.kern2.J.ss01Right</key>
    <integer>-10</integer>
    <key>public.kern2.aRight</key>
    <integer>-5</integer>
    <key>public.kern2.commaRight</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.WLeft</key>
  <dict>
    <key>p</key>
    <integer>-25</integer>
    <key>v</key>
    <integer>-20</integer>
    <key>x</key>
    <integer>-20</integer>
    <key>public.kern2.ARight</key>
    <integer>-70</integer>
    <key>public.kern2.CRight</key>
    <integer>-15</integer>
    <key>public.kern2.Oright</key>
    <integer>-15</integer>
    <key>public.kern2.S.ss03Right</key>
    <integer>-25</integer>
    <key>public.kern2.S.ss04Right</key>
    <integer>-30</integer>
    <key>public.kern2.SRight</key>
    <integer>-20</integer>
    <key>public.kern2.aRight</key>
    <integer>-60</integer>
    <key>public.kern2.colon</key>
    <integer>-20</integer>
    <key>public.kern2.commaRight</key>
    <integer>-70</integer>
    <key>public.kern2.dRight</key>
    <integer>-40</integer>
    <key>public.kern2.fRight</key>
    <integer>-10</integer>
    <key>public.kern2.gRight</key>
    <integer>-40</integer>
    <key>public.kern2.guilsinglright</key>
    <integer>-30</integer>
    <key>public.kern2.hyphen</key>
    <integer>-40</integer>
    <key>public.kern2.nRight</key>
    <integer>-20</integer>
    <key>public.kern2.oRight</key>
    <integer>-40</integer>
    <key>public.kern2.qRight</key>
    <integer>-50</integer>
    <key>public.kern2.s.ss03Right</key>
    <integer>-30</integer>
    <key>public.kern2.sRight</key>
    <integer>-55</integer>
    <key>public.kern2.tRight</key>
    <integer>-10</integer>
    <key>public.kern2.uRight</key>
    <integer>-20</integer>
    <key>public.kern2.wRight</key>
    <integer>-20</integer>
    <key>public.kern2.yRight</key>
    <integer>-20</integer>
    <key>public.kern2.zRight</key>
    <integer>-15</integer>
  </dict>
  <key>public.kern1.YLeft</key>
  <dict>
    <key>p</key>
    <integer>-50</integer>
    <key>v</key>
    <integer>-50</integer>
    <key>x</key>
    <integer>-50</integer>
    <key>public.kern2.ARight</key>
    <integer>-70</integer>
    <key>public.kern2.CRight</key>
    <integer>-35</integer>
    <key>public.kern2.GRight</key>
    <integer>-40</integer>
    <key>public.kern2.J.ss01Right</key>
    <integer>-70</integer>
    <key>public.kern2.Oright</key>
    <integer>-20</integer>
    <key>public.kern2.S.ss03Right</key>
    <integer>-20</integer>
    <key>public.kern2.S.ss04Right</key>
    <integer>-40</integer>
    <key>public.kern2.SRight</key>
    <integer>-30</integer>
    <key>public.kern2.aRight</key>
    <integer>-110</integer>
    <key>public.kern2.colon</key>
    <integer>-50</integer>
    <key>public.kern2.commaRight</key>
    <integer>-120</integer>
    <key>public.kern2.dRight</key>
    <integer>-85</integer>
    <key>public.kern2.fRight</key>
    <integer>-30</integer>
    <key>public.kern2.gRight</key>
    <integer>-90</integer>
    <key>public.kern2.guilsinglright</key>
    <integer>-60</integer>
    <key>public.kern2.hyphen</key>
    <integer>-75</integer>
    <key>public.kern2.nRight</key>
    <integer>-30</integer>
    <key>public.kern2.oRight</key>
    <integer>-65</integer>
    <key>public.kern2.qRight</key>
    <integer>-90</integer>
    <key>public.kern2.s.ss03Right</key>
    <integer>-80</integer>
    <key>public.kern2.sRight</key>
    <integer>-90</integer>
    <key>public.kern2.tRight</key>
    <integer>-30</integer>
    <key>public.kern2.uRight</key>
    <integer>-50</integer>
    <key>public.kern2.wRight</key>
    <integer>-40</integer>
    <key>public.kern2.yRight</key>
    <integer>-50</integer>
    <key>public.kern2.zRight</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.ZLeft</key>
  <dict>
    <key>public.kern2.CRight</key>
    <integer>-10</integer>
    <key>public.kern2.GRight</key>
    <integer>-10</integer>
    <key>public.kern2.Oright</key>
    <integer>-10</integer>
    <key>public.kern2.fRight</key>
    <integer>-10</integer>
    <key>public.kern2.gRight</key>
    <integer>-10</integer>
    <key>public.kern2.hyphen</key>
    <integer>-30</integer>
    <key>public.kern2.oRight</key>
    <integer>-10</integer>
    <key>public.kern2.qRight</key>
    <integer>-10</integer>
    <key>public.kern2.tRight</key>
    <integer>-10</integer>
    <key>public.kern2.uRight</key>
    <integer>-10</integer>
    <key>public.kern2.wRight</key>
    <integer>-10</integer>
    <key>public.kern2.yRight</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.aLeft</key>
  <dict>
    <key>v</key>
    <integer>-30</integer>
    <key>public.kern2.quoteright</key>
    <integer>-10</integer>
    <key>public.kern2.quotesingle</key>
    <integer>-20</integer>
    <key>public.kern2.tRight</key>
    <integer>-10</integer>
    <key>public.kern2.wRight</key>
    <integer>-20</integer>
    <key>public.kern2.yRight</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.cLeft</key>
  <dict>
    <key>public.kern2.aRight</key>
    <integer>-10</integer>
    <key>public.kern2.oRight</key>
    <integer>-10</integer>
    <key>public.kern2.qRight</key>
    <integer>-10</integer>
    <key>public.kern2.tRight</key>
    <integer>-10</integer>
    <key>public.kern2.yRight</key>
    <integer>-35</integer>
  </dict>
  <key>public.kern1.commaLeft</key>
  <dict>
    <key>V</key>
    <integer>-65</integer>
    <key>public.kern2.Oright</key>
    <integer>-25</integer>
    <key>public.kern2.TRight</key>
    <integer>-65</integer>
    <key>public.kern2.WRight</key>
    <integer>-75</integer>
    <key>public.kern2.YRight</key>
    <integer>-115</integer>
    <key>public.kern2.oRight</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.eLeft</key>
  <dict>
    <key>question</key>
    <integer>-30</integer>
    <key>v</key>
    <integer>-20</integer>
    <key>x</key>
    <integer>-30</integer>
    <key>public.kern2.aRight</key>
    <integer>-15</integer>
    <key>public.kern2.tRight</key>
    <integer>-5</integer>
    <key>public.kern2.wRight</key>
    <integer>-15</integer>
    <key>public.kern2.yRight</key>
    <integer>-25</integer>
  </dict>
  <key>public.kern1.fLeft</key>
  <dict>
    <key>eth</key>
    <integer>-25</integer>
    <key>oslash</key>
    <integer>-25</integer>
    <key>public.kern2.aRight</key>
    <integer>-75</integer>
    <key>public.kern2.commaRight</key>
    <integer>-80</integer>
    <key>public.kern2.dRight</key>
    <integer>-25</integer>
    <key>public.kern2.gRight</key>
    <integer>-25</integer>
    <key>public.kern2.nRight</key>
    <integer>-15</integer>
    <key>public.kern2.oRight</key>
    <integer>-25</integer>
    <key>public.kern2.uRight</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.guilsinglleft</key>
  <dict>
    <key>V</key>
    <integer>-20</integer>
    <key>questiondown</key>
    <integer>-15</integer>
    <key>public.kern2.TRight</key>
    <integer>-50</integer>
    <key>public.kern2.WRight</key>
    <integer>-40</integer>
    <key>public.kern2.YRight</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.hLeft</key>
  <dict>
    <key>v</key>
    <integer>-15</integer>
    <key>public.kern2.quoteright</key>
    <integer>-10</integer>
    <key>public.kern2.quotesingle</key>
    <integer>-20</integer>
    <key>public.kern2.tRight</key>
    <integer>-5</integer>
    <key>public.kern2.wRight</key>
    <integer>-10</integer>
    <key>public.kern2.yRight</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.hyphen</key>
  <dict>
    <key>V</key>
    <integer>-25</integer>
    <key>X</key>
    <integer>-25</integer>
    <key>x</key>
    <integer>-45</integer>
    <key>public.kern2.ARight</key>
    <integer>-10</integer>
    <key>public.kern2.TRight</key>
    <integer>-60</integer>
    <key>public.kern2.WRight</key>
    <integer>-25</integer>
    <key>public.kern2.YRight</key>
    <integer>-80</integer>
  </dict>
  <key>public.kern1.iLeft</key>
  <dict>
    <key>public.kern2.aRight</key>
    <integer>-5</integer>
  </dict>
  <key>public.kern1.kLeft</key>
  <dict>
    <key>oslash</key>
    <integer>-30</integer>
    <key>v</key>
    <integer>-10</integer>
    <key>public.kern2.aRight</key>
    <integer>-20</integer>
    <key>public.kern2.dRight</key>
    <integer>-20</integer>
    <key>public.kern2.gRight</key>
    <integer>-30</integer>
    <key>public.kern2.hyphen</key>
    <integer>-40</integer>
    <key>public.kern2.oRight</key>
    <integer>-30</integer>
    <key>public.kern2.tRight</key>
    <integer>-15</integer>
    <key>public.kern2.uRight</key>
    <integer>-20</integer>
    <key>public.kern2.wRight</key>
    <integer>-15</integer>
  </dict>
  <key>public.kern1.lApostLeft</key>
  <dict>
    <key>exclam</key>
    <integer>120</integer>
    <key>question</key>
    <integer>100</integer>
    <key>public.kern2.CRight</key>
    <integer>90</integer>
    <key>public.kern2.GRight</key>
    <integer>80</integer>
    <key>public.kern2.HRight</key>
    <integer>130</integer>
    <key>public.kern2.Oright</key>
    <integer>100</integer>
    <key>public.kern2.S.ss03Right</key>
    <integer>100</integer>
    <key>public.kern2.S.ss04Right</key>
    <integer>80</integer>
    <key>public.kern2.SRight</key>
    <integer>90</integer>
    <key>public.kern2.TRight</key>
    <integer>160</integer>
    <key>public.kern2.URight</key>
    <integer>130</integer>
    <key>public.kern2.WRight</key>
    <integer>160</integer>
    <key>public.kern2.YRight</key>
    <integer>160</integer>
    <key>public.kern2.ZRight</key>
    <integer>160</integer>
    <key>public.kern2.bRight</key>
    <integer>140</integer>
    <key>public.kern2.fRight</key>
    <integer>60</integer>
    <key>public.kern2.iRight</key>
    <integer>150</integer>
    <key>public.kern2.jRight</key>
    <integer>150</integer>
    <key>public.kern2.quoteleft</key>
    <integer>120</integer>
    <key>public.kern2.quoteright</key>
    <integer>140</integer>
    <key>public.kern2.tRight</key>
    <integer>110</integer>
  </dict>
  <key>public.kern1.nLeft</key>
  <dict>
    <key>v</key>
    <integer>-20</integer>
    <key>public.kern2.fRight</key>
    <integer>-5</integer>
    <key>public.kern2.quoteleft</key>
    <integer>-20</integer>
    <key>public.kern2.quoteright</key>
    <integer>-10</integer>
    <key>public.kern2.quotesingle</key>
    <integer>-20</integer>
    <key>public.kern2.tRight</key>
    <integer>-5</integer>
    <key>public.kern2.wRight</key>
    <integer>-10</integer>
    <key>public.kern2.yRight</key>
    <integer>-35</integer>
  </dict>
  <key>public.kern1.oLeft</key>
  <dict>
    <key>v</key>
    <integer>-15</integer>
    <key>x</key>
    <integer>-20</integer>
    <key>public.kern2.commaRight</key>
    <integer>-5</integer>
    <key>public.kern2.quoteright</key>
    <integer>-15</integer>
    <key>public.kern2.quotesingle</key>
    <integer>-20</integer>
    <key>public.kern2.wRight</key>
    <integer>-10</integer>
    <key>public.kern2.yRight</key>
    <integer>-25</integer>
  </dict>
  <key>public.kern1.quoteleft</key>
  <dict>
    <key>questiondown</key>
    <integer>-60</integer>
    <key>public.kern2.ARight</key>
    <integer>-55</integer>
    <key>public.kern2.J.ss01Right</key>
    <integer>-60</integer>
    <key>public.kern2.aRight</key>
    <integer>-80</integer>
    <key>public.kern2.dRight</key>
    <integer>-15</integer>
    <key>public.kern2.gRight</key>
    <integer>-15</integer>
    <key>public.kern2.oRight</key>
    <integer>-5</integer>
    <key>public.kern2.qRight</key>
    <integer>-15</integer>
    <key>public.kern2.s.ss03Right</key>
    <integer>-5</integer>
    <key>public.kern2.sRight</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.quoteright</key>
  <dict>
    <key>A</key>
    <integer>-50</integer>
    <key>a</key>
    <integer>-70</integer>
    <key>d</key>
    <integer>-35</integer>
    <key>g</key>
    <integer>-45</integer>
    <key>s</key>
    <integer>-60</integer>
    <key>public.kern2.oRight</key>
    <integer>-45</integer>
  </dict>
  <key>public.kern1.quotesingle</key>
  <dict>
    <key>a</key>
    <integer>-70</integer>
    <key>d</key>
    <integer>-20</integer>
    <key>public.kern2.ARight</key>
    <integer>-50</integer>
    <key>public.kern2.gRight</key>
    <integer>-25</integer>
    <key>public.kern2.oRight</key>
    <integer>-20</integer>
    <key>public.kern2.sRight</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.rLeft</key>
  <dict>
    <key>oslash</key>
    <integer>-5</integer>
    <key>public.kern2.aRight</key>
    <integer>-65</integer>
    <key>public.kern2.commaRight</key>
    <integer>-60</integer>
    <key>public.kern2.hyphen</key>
    <integer>-20</integer>
    <key>public.kern2.oRight</key>
    <integer>-5</integer>
    <key>public.kern2.qRight</key>
    <integer>-5</integer>
  </dict>
  <key>public.kern1.sLeft</key>
  <dict>
    <key>v</key>
    <integer>-10</integer>
    <key>public.kern2.aRight</key>
    <integer>-20</integer>
    <key>public.kern2.oRight</key>
    <integer>-10</integer>
    <key>public.kern2.sRight</key>
    <integer>-10</integer>
    <key>public.kern2.yRight</key>
    <integer>-5</integer>
  </dict>
  <key>public.kern1.tLeft</key>
  <dict>
    <key>oslash</key>
    <integer>-5</integer>
    <key>public.kern2.aRight</key>
    <integer>-5</integer>
    <key>public.kern2.gRight</key>
    <integer>-5</integer>
    <key>public.kern2.hyphen</key>
    <integer>-5</integer>
    <key>public.kern2.oRight</key>
    <integer>-5</integer>
    <key>public.kern2.yRight</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.vLeft</key>
  <dict>
    <key>eth</key>
    <integer>-25</integer>
    <key>oslash</key>
    <integer>-20</integer>
    <key>public.kern2.aRight</key>
    <integer>-55</integer>
    <key>public.kern2.commaRight</key>
    <integer>-90</integer>
    <key>public.kern2.dRight</key>
    <integer>-25</integer>
    <key>public.kern2.gRight</key>
    <integer>-30</integer>
    <key>public.kern2.hyphen</key>
    <integer>-40</integer>
    <key>public.kern2.oRight</key>
    <integer>-25</integer>
    <key>public.kern2.s.ss03Right</key>
    <integer>-30</integer>
    <key>public.kern2.sRight</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.wLeft</key>
  <dict>
    <key>public.kern2.aRight</key>
    <integer>-30</integer>
    <key>public.kern2.commaRight</key>
    <integer>-50</integer>
    <key>public.kern2.dRight</key>
    <integer>-10</integer>
    <key>public.kern2.hyphen</key>
    <integer>-20</integer>
    <key>public.kern2.oRight</key>
    <integer>-15</integer>
    <key>public.kern2.s.ss03Right</key>
    <integer>-15</integer>
    <key>public.kern2.sRight</key>
    <integer>-25</integer>
  </dict>
</dict>
</plist>
