<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>F</key>
  <dict>
    <key>oslash</key>
    <integer>-20</integer>
    <key>p</key>
    <integer>-30</integer>
    <key>v</key>
    <integer>-40</integer>
    <key>x</key>
    <integer>-40</integer>
    <key>public.kern2.AERight</key>
    <integer>-80</integer>
    <key>public.kern2.ARight</key>
    <integer>-20</integer>
    <key>public.kern2.CRight</key>
    <integer>-20</integer>
    <key>public.kern2.GRight</key>
    <integer>-20</integer>
    <key>public.kern2.J.ss01Right</key>
    <integer>-50</integer>
    <key>public.kern2.Oright</key>
    <integer>-20</integer>
    <key>public.kern2.YRight</key>
    <integer>-5</integer>
    <key>public.kern2.aRight</key>
    <integer>-50</integer>
    <key>public.kern2.colon</key>
    <integer>-20</integer>
    <key>public.kern2.commaRight</key>
    <integer>-70</integer>
    <key>public.kern2.fRight</key>
    <integer>-20</integer>
    <key>public.kern2.gRight</key>
    <integer>-40</integer>
    <key>public.kern2.guilsinglright</key>
    <integer>-30</integer>
    <key>public.kern2.hyphen</key>
    <integer>-20</integer>
    <key>public.kern2.nRight</key>
    <integer>-30</integer>
    <key>public.kern2.oRight</key>
    <integer>-30</integer>
    <key>public.kern2.qRight</key>
    <integer>-30</integer>
    <key>public.kern2.s.ss03Right</key>
    <integer>-10</integer>
    <key>public.kern2.tRight</key>
    <integer>-30</integer>
    <key>public.kern2.uRight</key>
    <integer>-40</integer>
    <key>public.kern2.wRight</key>
    <integer>-30</integer>
    <key>public.kern2.yRight</key>
    <integer>-50</integer>
    <key>public.kern2.zRight</key>
    <integer>-39</integer>
  </dict>
  <key>Oslash</key>
  <dict>
    <key>V</key>
    <integer>-10</integer>
    <key>public.kern2.J.ss01Right</key>
    <integer>-10</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>public.kern2.AERight</key>
    <integer>-80</integer>
    <key>public.kern2.ARight</key>
    <integer>-40</integer>
    <key>public.kern2.TRight</key>
    <integer>10</integer>
    <key>public.kern2.aRight</key>
    <integer>-50</integer>
    <key>public.kern2.commaRight</key>
    <integer>-70</integer>
    <key>public.kern2.gRight</key>
    <integer>-10</integer>
    <key>public.kern2.hyphen</key>
    <integer>-20</integer>
    <key>public.kern2.oRight</key>
    <integer>-20</integer>
    <key>public.kern2.qRight</key>
    <integer>-10</integer>
  </dict>
  <key>Thorn</key>
  <dict>
    <key>public.kern2.AERight</key>
    <integer>-40</integer>
  </dict>
  <key>V</key>
  <dict>
    <key>Oslash</key>
    <integer>-30</integer>
    <key>V</key>
    <integer>-10</integer>
    <key>p</key>
    <integer>-40</integer>
    <key>v</key>
    <integer>-20</integer>
    <key>x</key>
    <integer>-20</integer>
    <key>public.kern2.AERight</key>
    <integer>-90</integer>
    <key>public.kern2.ARight</key>
    <integer>-50</integer>
    <key>public.kern2.CRight</key>
    <integer>-20</integer>
    <key>public.kern2.GRight</key>
    <integer>-20</integer>
    <key>public.kern2.Oright</key>
    <integer>-15</integer>
    <key>public.kern2.S.ss03Right</key>
    <integer>-20</integer>
    <key>public.kern2.S.ss04Right</key>
    <integer>-30</integer>
    <key>public.kern2.SRight</key>
    <integer>-10</integer>
    <key>public.kern2.YRight</key>
    <integer>-20</integer>
    <key>public.kern2.aRight</key>
    <integer>-50</integer>
    <key>public.kern2.colon</key>
    <integer>-20</integer>
    <key>public.kern2.commaRight</key>
    <integer>-80</integer>
    <key>public.kern2.dRight</key>
    <integer>-40</integer>
    <key>public.kern2.fRight</key>
    <integer>-10</integer>
    <key>public.kern2.gRight</key>
    <integer>-40</integer>
    <key>public.kern2.guilsinglright</key>
    <integer>-20</integer>
    <key>public.kern2.hyphen</key>
    <integer>-40</integer>
    <key>public.kern2.nRight</key>
    <integer>-50</integer>
    <key>public.kern2.oRight</key>
    <integer>-40</integer>
    <key>public.kern2.qRight</key>
    <integer>-50</integer>
    <key>public.kern2.s.ss03Right</key>
    <integer>-25</integer>
    <key>public.kern2.sRight</key>
    <integer>-40</integer>
    <key>public.kern2.tRight</key>
    <integer>-20</integer>
    <key>public.kern2.uRight</key>
    <integer>-30</integer>
    <key>public.kern2.wRight</key>
    <integer>-20</integer>
    <key>public.kern2.yRight</key>
    <integer>-20</integer>
    <key>public.kern2.zRight</key>
    <integer>-30</integer>
  </dict>
  <key>X</key>
  <dict>
    <key>v</key>
    <integer>-70</integer>
    <key>public.kern2.CRight</key>
    <integer>-40</integer>
    <key>public.kern2.GRight</key>
    <integer>-40</integer>
    <key>public.kern2.Oright</key>
    <integer>-10</integer>
    <key>public.kern2.URight</key>
    <integer>-10</integer>
    <key>public.kern2.aRight</key>
    <integer>-30</integer>
    <key>public.kern2.dRight</key>
    <integer>-20</integer>
    <key>public.kern2.fRight</key>
    <integer>-20</integer>
    <key>public.kern2.gRight</key>
    <integer>-50</integer>
    <key>public.kern2.hyphen</key>
    <integer>-60</integer>
    <key>public.kern2.nRight</key>
    <integer>-20</integer>
    <key>public.kern2.oRight</key>
    <integer>-40</integer>
    <key>public.kern2.qRight</key>
    <integer>-40</integer>
    <key>public.kern2.tRight</key>
    <integer>-50</integer>
    <key>public.kern2.uRight</key>
    <integer>-40</integer>
    <key>public.kern2.wRight</key>
    <integer>-60</integer>
    <key>public.kern2.yRight</key>
    <integer>-50</integer>
  </dict>
  <key>b</key>
  <dict>
    <key>v</key>
    <integer>-20</integer>
    <key>public.kern2.commaRight</key>
    <integer>-10</integer>
    <key>public.kern2.quoteright</key>
    <integer>-10</integer>
    <key>public.kern2.quotesingle</key>
    <integer>-20</integer>
    <key>public.kern2.wRight</key>
    <integer>-10</integer>
    <key>public.kern2.yRight</key>
    <integer>-20</integer>
  </dict>
  <key>backslash</key>
  <dict>
    <key>backslash</key>
    <integer>-100</integer>
  </dict>
  <key>braceleft</key>
  <dict>
    <key>public.kern2.jRight</key>
    <integer>50</integer>
  </dict>
  <key>bracketleft</key>
  <dict>
    <key>public.kern2.jRight</key>
    <integer>50</integer>
  </dict>
  <key>eight</key>
  <dict>
    <key>public.kern2.commaRight</key>
    <integer>-15</integer>
  </dict>
  <key>eth</key>
  <dict>
    <key>v</key>
    <integer>-40</integer>
  </dict>
  <key>exclamdown</key>
  <dict>
    <key>public.kern2.jRight</key>
    <integer>70</integer>
  </dict>
  <key>five</key>
  <dict>
    <key>public.kern2.commaRight</key>
    <integer>-15</integer>
  </dict>
  <key>four</key>
  <dict>
    <key>nine</key>
    <integer>-20</integer>
    <key>seven</key>
    <integer>-20</integer>
  </dict>
  <key>lslash</key>
  <dict>
    <key>lslash</key>
    <integer>20</integer>
    <key>public.kern2.tRight</key>
    <integer>10</integer>
  </dict>
  <key>nine</key>
  <dict>
    <key>four</key>
    <integer>-40</integer>
    <key>six</key>
    <integer>-25</integer>
    <key>three</key>
    <integer>-10</integer>
    <key>public.kern2.commaRight</key>
    <integer>-100</integer>
  </dict>
  <key>oslash</key>
  <dict>
    <key>v</key>
    <integer>-10</integer>
  </dict>
  <key>p</key>
  <dict>
    <key>v</key>
    <integer>-20</integer>
    <key>public.kern2.commaRight</key>
    <integer>-10</integer>
    <key>public.kern2.quoteright</key>
    <integer>-10</integer>
    <key>public.kern2.quotesingle</key>
    <integer>-10</integer>
    <key>public.kern2.yRight</key>
    <integer>-20</integer>
  </dict>
  <key>parenleft</key>
  <dict>
    <key>public.kern2.J.ss01Right</key>
    <integer>20</integer>
    <key>public.kern2.JRight</key>
    <integer>100</integer>
    <key>public.kern2.jRight</key>
    <integer>100</integer>
  </dict>
  <key>q</key>
  <dict>
    <key>public.kern2.tRight</key>
    <integer>-10</integer>
  </dict>
  <key>question</key>
  <dict>
    <key>public.kern2.guilsinglright</key>
    <integer>-5</integer>
  </dict>
  <key>questiondown</key>
  <dict>
    <key>V</key>
    <integer>-90</integer>
    <key>public.kern2.TRight</key>
    <integer>-60</integer>
    <key>public.kern2.YRight</key>
    <integer>-90</integer>
    <key>public.kern2.jRight</key>
    <integer>60</integer>
  </dict>
  <key>quotesinglbase</key>
  <dict>
    <key>V</key>
    <integer>-80</integer>
    <key>v</key>
    <integer>-60</integer>
    <key>public.kern2.ARight</key>
    <integer>10</integer>
    <key>public.kern2.CRight</key>
    <integer>-10</integer>
    <key>public.kern2.GRight</key>
    <integer>-10</integer>
    <key>public.kern2.Oright</key>
    <integer>-10</integer>
    <key>public.kern2.TRight</key>
    <integer>-55</integer>
    <key>public.kern2.URight</key>
    <integer>-10</integer>
    <key>public.kern2.WRight</key>
    <integer>-60</integer>
    <key>public.kern2.YRight</key>
    <integer>-95</integer>
    <key>public.kern2.tRight</key>
    <integer>-20</integer>
    <key>public.kern2.wRight</key>
    <integer>-40</integer>
    <key>public.kern2.yRight</key>
    <integer>-70</integer>
  </dict>
  <key>seven</key>
  <dict>
    <key>four</key>
    <integer>-80</integer>
    <key>six</key>
    <integer>-70</integer>
    <key>public.kern2.commaRight</key>
    <integer>-110</integer>
  </dict>
  <key>six</key>
  <dict>
    <key>nine</key>
    <integer>-10</integer>
    <key>one</key>
    <integer>-50</integer>
    <key>seven</key>
    <integer>-10</integer>
    <key>public.kern2.commaRight</key>
    <integer>-15</integer>
  </dict>
  <key>slash</key>
  <dict>
    <key>slash</key>
    <integer>-110</integer>
  </dict>
  <key>tcaron</key>
  <dict>
    <key>v</key>
    <integer>-10</integer>
    <key>x</key>
    <integer>-10</integer>
    <key>public.kern2.TRight</key>
    <integer>10</integer>
    <key>public.kern2.YRight</key>
    <integer>10</integer>
    <key>public.kern2.ZRight</key>
    <integer>10</integer>
    <key>public.kern2.aRight</key>
    <integer>-10</integer>
    <key>public.kern2.dRight</key>
    <integer>-10</integer>
    <key>public.kern2.fRight</key>
    <integer>-10</integer>
    <key>public.kern2.gRight</key>
    <integer>-20</integer>
    <key>public.kern2.hyphen</key>
    <integer>-80</integer>
    <key>public.kern2.oRight</key>
    <integer>-20</integer>
    <key>public.kern2.qRight</key>
    <integer>-10</integer>
    <key>public.kern2.tRight</key>
    <integer>-10</integer>
    <key>public.kern2.uRight</key>
    <integer>-10</integer>
    <key>public.kern2.wRight</key>
    <integer>-10</integer>
    <key>public.kern2.yRight</key>
    <integer>-20</integer>
    <key>public.kern2.zRight</key>
    <integer>-10</integer>
  </dict>
  <key>two</key>
  <dict>
    <key>four</key>
    <integer>-20</integer>
  </dict>
  <key>x</key>
  <dict>
    <key>public.kern2.hyphen</key>
    <integer>-50</integer>
    <key>public.kern2.oRight</key>
    <integer>-20</integer>
    <key>public.kern2.tRight</key>
    <integer>-5</integer>
  </dict>
  <key>zero</key>
  <dict>
    <key>one</key>
    <integer>-15</integer>
    <key>public.kern2.commaRight</key>
    <integer>-15</integer>
  </dict>
  <key>public.kern1.ALeft</key>
  <dict>
    <key>V</key>
    <integer>-50</integer>
    <key>X</key>
    <integer>-20</integer>
    <key>eth</key>
    <integer>-10</integer>
    <key>p</key>
    <integer>-10</integer>
    <key>v</key>
    <integer>-60</integer>
    <key>public.kern2.CRight</key>
    <integer>-25</integer>
    <key>public.kern2.GRight</key>
    <integer>-20</integer>
    <key>public.kern2.JRight</key>
    <integer>10</integer>
    <key>public.kern2.Oright</key>
    <integer>-20</integer>
    <key>public.kern2.SRight</key>
    <integer>-10</integer>
    <key>public.kern2.TRight</key>
    <integer>-35</integer>
    <key>public.kern2.URight</key>
    <integer>-10</integer>
    <key>public.kern2.WRight</key>
    <integer>-50</integer>
    <key>public.kern2.YRight</key>
    <integer>-60</integer>
    <key>public.kern2.dRight</key>
    <integer>-10</integer>
    <key>public.kern2.fRight</key>
    <integer>-30</integer>
    <key>public.kern2.gRight</key>
    <integer>-30</integer>
    <key>public.kern2.hyphen</key>
    <integer>-20</integer>
    <key>public.kern2.oRight</key>
    <integer>-30</integer>
    <key>public.kern2.qRight</key>
    <integer>-20</integer>
    <key>public.kern2.quoteright</key>
    <integer>-60</integer>
    <key>public.kern2.quotesingle</key>
    <integer>-60</integer>
    <key>public.kern2.tRight</key>
    <integer>-50</integer>
    <key>public.kern2.uRight</key>
    <integer>-15</integer>
    <key>public.kern2.wRight</key>
    <integer>-60</integer>
    <key>public.kern2.yRight</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.BLeft</key>
  <dict>
    <key>V</key>
    <integer>-20</integer>
    <key>X</key>
    <integer>-20</integer>
    <key>v</key>
    <integer>-10</integer>
    <key>x</key>
    <integer>-5</integer>
    <key>public.kern2.ARight</key>
    <integer>-10</integer>
    <key>public.kern2.TRight</key>
    <integer>-5</integer>
    <key>public.kern2.WRight</key>
    <integer>-20</integer>
    <key>public.kern2.YRight</key>
    <integer>-10</integer>
    <key>public.kern2.wRight</key>
    <integer>-5</integer>
    <key>public.kern2.yRight</key>
    <integer>-5</integer>
  </dict>
  <key>public.kern1.CLeft</key>
  <dict>
    <key>v</key>
    <integer>-60</integer>
    <key>public.kern2.ARight</key>
    <integer>-5</integer>
    <key>public.kern2.GRight</key>
    <integer>-10</integer>
    <key>public.kern2.fRight</key>
    <integer>-20</integer>
    <key>public.kern2.gRight</key>
    <integer>-10</integer>
    <key>public.kern2.oRight</key>
    <integer>-20</integer>
    <key>public.kern2.tRight</key>
    <integer>-30</integer>
    <key>public.kern2.wRight</key>
    <integer>-40</integer>
    <key>public.kern2.yRight</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.DLeft</key>
  <dict>
    <key>V</key>
    <integer>-20</integer>
    <key>X</key>
    <integer>-40</integer>
    <key>public.kern2.AERight</key>
    <integer>-35</integer>
    <key>public.kern2.ARight</key>
    <integer>-15</integer>
    <key>public.kern2.J.ss01Right</key>
    <integer>-20</integer>
    <key>public.kern2.TRight</key>
    <integer>-10</integer>
    <key>public.kern2.WRight</key>
    <integer>-20</integer>
    <key>public.kern2.YRight</key>
    <integer>-15</integer>
    <key>public.kern2.commaRight</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.ELeft</key>
  <dict>
    <key>V</key>
    <integer>-10</integer>
    <key>v</key>
    <integer>-30</integer>
    <key>public.kern2.CRight</key>
    <integer>-10</integer>
    <key>public.kern2.GRight</key>
    <integer>-10</integer>
    <key>public.kern2.Oright</key>
    <integer>-20</integer>
    <key>public.kern2.fRight</key>
    <integer>-10</integer>
    <key>public.kern2.gRight</key>
    <integer>-20</integer>
    <key>public.kern2.tRight</key>
    <integer>-20</integer>
    <key>public.kern2.uRight</key>
    <integer>-10</integer>
    <key>public.kern2.wRight</key>
    <integer>-30</integer>
    <key>public.kern2.yRight</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.GLeft</key>
  <dict>
    <key>X</key>
    <integer>-20</integer>
    <key>v</key>
    <integer>-10</integer>
    <key>public.kern2.AERight</key>
    <integer>-10</integer>
    <key>public.kern2.TRight</key>
    <integer>-10</integer>
    <key>public.kern2.WRight</key>
    <integer>-20</integer>
    <key>public.kern2.YRight</key>
    <integer>-10</integer>
    <key>public.kern2.quoteright</key>
    <integer>-20</integer>
    <key>public.kern2.tRight</key>
    <integer>-10</integer>
    <key>public.kern2.wRight</key>
    <integer>-15</integer>
    <key>public.kern2.yRight</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.HLeft</key>
  <dict>
    <key>V</key>
    <integer>-10</integer>
    <key>X</key>
    <integer>-20</integer>
    <key>v</key>
    <integer>-10</integer>
    <key>public.kern2.AERight</key>
    <integer>-15</integer>
    <key>public.kern2.aRight</key>
    <integer>-10</integer>
    <key>public.kern2.commaRight</key>
    <integer>-20</integer>
    <key>public.kern2.tRight</key>
    <integer>-20</integer>
    <key>public.kern2.wRight</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.J.ss01Left</key>
  <dict>
    <key>public.kern2.AERight</key>
    <integer>-20</integer>
    <key>public.kern2.ARight</key>
    <integer>-20</integer>
    <key>public.kern2.J.ss01Right</key>
    <integer>-20</integer>
    <key>public.kern2.commaRight</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.KLeft</key>
  <dict>
    <key>Oslash</key>
    <integer>-20</integer>
    <key>oslash</key>
    <integer>-15</integer>
    <key>v</key>
    <integer>-50</integer>
    <key>public.kern2.CRight</key>
    <integer>-20</integer>
    <key>public.kern2.GRight</key>
    <integer>-10</integer>
    <key>public.kern2.Oright</key>
    <integer>-10</integer>
    <key>public.kern2.URight</key>
    <integer>-20</integer>
    <key>public.kern2.WRight</key>
    <integer>-35</integer>
    <key>public.kern2.YRight</key>
    <integer>-20</integer>
    <key>public.kern2.aRight</key>
    <integer>-20</integer>
    <key>public.kern2.dRight</key>
    <integer>-20</integer>
    <key>public.kern2.fRight</key>
    <integer>-15</integer>
    <key>public.kern2.gRight</key>
    <integer>-30</integer>
    <key>public.kern2.hyphen</key>
    <integer>-40</integer>
    <key>public.kern2.nRight</key>
    <integer>-15</integer>
    <key>public.kern2.oRight</key>
    <integer>-20</integer>
    <key>public.kern2.qRight</key>
    <integer>-30</integer>
    <key>public.kern2.tRight</key>
    <integer>-40</integer>
    <key>public.kern2.uRight</key>
    <integer>-30</integer>
    <key>public.kern2.wRight</key>
    <integer>-50</integer>
    <key>public.kern2.yRight</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.LLeft</key>
  <dict>
    <key>Oslash</key>
    <integer>-20</integer>
    <key>V</key>
    <integer>-50</integer>
    <key>X</key>
    <integer>-10</integer>
    <key>oslash</key>
    <integer>-5</integer>
    <key>v</key>
    <integer>-80</integer>
    <key>public.kern2.CRight</key>
    <integer>-30</integer>
    <key>public.kern2.GRight</key>
    <integer>-30</integer>
    <key>public.kern2.Oright</key>
    <integer>-30</integer>
    <key>public.kern2.TRight</key>
    <integer>-40</integer>
    <key>public.kern2.URight</key>
    <integer>-10</integer>
    <key>public.kern2.WRight</key>
    <integer>-60</integer>
    <key>public.kern2.YRight</key>
    <integer>-72</integer>
    <key>public.kern2.fRight</key>
    <integer>-20</integer>
    <key>public.kern2.gRight</key>
    <integer>-20</integer>
    <key>public.kern2.oRight</key>
    <integer>-20</integer>
    <key>public.kern2.qRight</key>
    <integer>-20</integer>
    <key>public.kern2.quoteright</key>
    <integer>-70</integer>
    <key>public.kern2.quotesingle</key>
    <integer>-70</integer>
    <key>public.kern2.tRight</key>
    <integer>-40</integer>
    <key>public.kern2.uRight</key>
    <integer>-20</integer>
    <key>public.kern2.wRight</key>
    <integer>-70</integer>
    <key>public.kern2.yRight</key>
    <integer>-80</integer>
  </dict>
  <key>public.kern1.OLeft</key>
  <dict>
    <key>V</key>
    <integer>-20</integer>
    <key>X</key>
    <integer>-10</integer>
    <key>x</key>
    <integer>-10</integer>
    <key>public.kern2.AERight</key>
    <integer>-20</integer>
    <key>public.kern2.ARight</key>
    <integer>-20</integer>
    <key>public.kern2.J.ss01Right</key>
    <integer>-10</integer>
    <key>public.kern2.JRight</key>
    <integer>-19</integer>
    <key>public.kern2.TRight</key>
    <integer>-10</integer>
    <key>public.kern2.WRight</key>
    <integer>-20</integer>
    <key>public.kern2.YRight</key>
    <integer>-15</integer>
    <key>public.kern2.aRight</key>
    <integer>-5</integer>
    <key>public.kern2.commaRight</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.RLeft</key>
  <dict>
    <key>Oslash</key>
    <integer>-10</integer>
    <key>V</key>
    <integer>-10</integer>
    <key>X</key>
    <integer>-20</integer>
    <key>oslash</key>
    <integer>-15</integer>
    <key>public.kern2.CRight</key>
    <integer>-10</integer>
    <key>public.kern2.Oright</key>
    <integer>-10</integer>
    <key>public.kern2.SRight</key>
    <integer>-10</integer>
    <key>public.kern2.URight</key>
    <integer>-5</integer>
    <key>public.kern2.WRight</key>
    <integer>-20</integer>
    <key>public.kern2.YRight</key>
    <integer>-20</integer>
    <key>public.kern2.dRight</key>
    <integer>-10</integer>
    <key>public.kern2.gRight</key>
    <integer>-20</integer>
    <key>public.kern2.hyphen</key>
    <integer>-30</integer>
    <key>public.kern2.oRight</key>
    <integer>-10</integer>
    <key>public.kern2.qRight</key>
    <integer>-20</integer>
    <key>public.kern2.quoteright</key>
    <integer>-10</integer>
    <key>public.kern2.uRight</key>
    <integer>-30</integer>
    <key>public.kern2.yRight</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.S.ss04Left</key>
  <dict>
    <key>V</key>
    <integer>-5</integer>
    <key>v</key>
    <integer>-50</integer>
    <key>x</key>
    <integer>-15</integer>
    <key>public.kern2.AERight</key>
    <integer>-10</integer>
    <key>public.kern2.ARight</key>
    <integer>-5</integer>
    <key>public.kern2.WRight</key>
    <integer>-15</integer>
    <key>public.kern2.YRight</key>
    <integer>-10</integer>
    <key>public.kern2.fRight</key>
    <integer>-5</integer>
    <key>public.kern2.quoteright</key>
    <integer>-5</integer>
    <key>public.kern2.tRight</key>
    <integer>-20</integer>
    <key>public.kern2.wRight</key>
    <integer>-30</integer>
    <key>public.kern2.yRight</key>
    <integer>-59</integer>
  </dict>
  <key>public.kern1.SLeft</key>
  <dict>
    <key>V</key>
    <integer>-15</integer>
    <key>p</key>
    <integer>-5</integer>
    <key>v</key>
    <integer>-20</integer>
    <key>x</key>
    <integer>-10</integer>
    <key>public.kern2.AERight</key>
    <integer>-30</integer>
    <key>public.kern2.ARight</key>
    <integer>-15</integer>
    <key>public.kern2.TRight</key>
    <integer>-5</integer>
    <key>public.kern2.WRight</key>
    <integer>-15</integer>
    <key>public.kern2.YRight</key>
    <integer>-15</integer>
    <key>public.kern2.aRight</key>
    <integer>-10</integer>
    <key>public.kern2.quoteright</key>
    <integer>-10</integer>
    <key>public.kern2.tRight</key>
    <integer>-20</integer>
    <key>public.kern2.wRight</key>
    <integer>-20</integer>
    <key>public.kern2.yRight</key>
    <integer>-20</integer>
    <key>public.kern2.zRight</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.TLeft</key>
  <dict>
    <key>Oslash</key>
    <integer>-10</integer>
    <key>V</key>
    <integer>-5</integer>
    <key>oslash</key>
    <integer>-60</integer>
    <key>p</key>
    <integer>-60</integer>
    <key>v</key>
    <integer>-60</integer>
    <key>x</key>
    <integer>-60</integer>
    <key>public.kern2.AERight</key>
    <integer>-50</integer>
    <key>public.kern2.ARight</key>
    <integer>-40</integer>
    <key>public.kern2.CRight</key>
    <integer>-10</integer>
    <key>public.kern2.GRight</key>
    <integer>-10</integer>
    <key>public.kern2.J.ss01Right</key>
    <integer>-30</integer>
    <key>public.kern2.Oright</key>
    <integer>-10</integer>
    <key>public.kern2.S.ss03Right</key>
    <integer>-5</integer>
    <key>public.kern2.S.ss04Right</key>
    <integer>-15</integer>
    <key>public.kern2.SRight</key>
    <integer>-10</integer>
    <key>public.kern2.TRight</key>
    <integer>10</integer>
    <key>public.kern2.WRight</key>
    <integer>-9</integer>
    <key>public.kern2.YRight</key>
    <integer>10</integer>
    <key>public.kern2.aRight</key>
    <integer>-60</integer>
    <key>public.kern2.colon</key>
    <integer>-30</integer>
    <key>public.kern2.commaRight</key>
    <integer>-50</integer>
    <key>public.kern2.dRight</key>
    <integer>-50</integer>
    <key>public.kern2.fRight</key>
    <integer>-30</integer>
    <key>public.kern2.gRight</key>
    <integer>-60</integer>
    <key>public.kern2.guilsinglright</key>
    <integer>-30</integer>
    <key>public.kern2.hyphen</key>
    <integer>-50</integer>
    <key>public.kern2.iRight</key>
    <integer>-10</integer>
    <key>public.kern2.nRight</key>
    <integer>-40</integer>
    <key>public.kern2.oRight</key>
    <integer>-61</integer>
    <key>public.kern2.qRight</key>
    <integer>-50</integer>
    <key>public.kern2.s.ss03Right</key>
    <integer>-45</integer>
    <key>public.kern2.sRight</key>
    <integer>-50</integer>
    <key>public.kern2.tRight</key>
    <integer>-30</integer>
    <key>public.kern2.uRight</key>
    <integer>-50</integer>
    <key>public.kern2.wRight</key>
    <integer>-60</integer>
    <key>public.kern2.yRight</key>
    <integer>-50</integer>
    <key>public.kern2.zRight</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.ULeft</key>
  <dict>
    <key>x</key>
    <integer>-1</integer>
    <key>public.kern2.AERight</key>
    <integer>-10</integer>
    <key>public.kern2.ARight</key>
    <integer>-10</integer>
    <key>public.kern2.J.ss01Right</key>
    <integer>-10</integer>
    <key>public.kern2.commaRight</key>
    <integer>-20</integer>
    <key>public.kern2.fRight</key>
    <integer>-10</integer>
    <key>public.kern2.tRight</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.WLeft</key>
  <dict>
    <key>X</key>
    <integer>-10</integer>
    <key>p</key>
    <integer>-40</integer>
    <key>v</key>
    <integer>-10</integer>
    <key>x</key>
    <integer>-20</integer>
    <key>public.kern2.AERight</key>
    <integer>-70</integer>
    <key>public.kern2.ARight</key>
    <integer>-50</integer>
    <key>public.kern2.CRight</key>
    <integer>-20</integer>
    <key>public.kern2.GRight</key>
    <integer>-20</integer>
    <key>public.kern2.Oright</key>
    <integer>-20</integer>
    <key>public.kern2.S.ss03Right</key>
    <integer>-20</integer>
    <key>public.kern2.S.ss04Right</key>
    <integer>-35</integer>
    <key>public.kern2.SRight</key>
    <integer>-20</integer>
    <key>public.kern2.TRight</key>
    <integer>-10</integer>
    <key>public.kern2.ZRight</key>
    <integer>-20</integer>
    <key>public.kern2.aRight</key>
    <integer>-50</integer>
    <key>public.kern2.colon</key>
    <integer>-20</integer>
    <key>public.kern2.commaRight</key>
    <integer>-60</integer>
    <key>public.kern2.dRight</key>
    <integer>-30</integer>
    <key>public.kern2.fRight</key>
    <integer>-10</integer>
    <key>public.kern2.gRight</key>
    <integer>-50</integer>
    <key>public.kern2.guilsinglright</key>
    <integer>-10</integer>
    <key>public.kern2.hyphen</key>
    <integer>-40</integer>
    <key>public.kern2.iRight</key>
    <integer>-20</integer>
    <key>public.kern2.jRight</key>
    <integer>-10</integer>
    <key>public.kern2.nRight</key>
    <integer>-40</integer>
    <key>public.kern2.oRight</key>
    <integer>-40</integer>
    <key>public.kern2.qRight</key>
    <integer>-50</integer>
    <key>public.kern2.s.ss03Right</key>
    <integer>-31</integer>
    <key>public.kern2.sRight</key>
    <integer>-45</integer>
    <key>public.kern2.tRight</key>
    <integer>-30</integer>
    <key>public.kern2.uRight</key>
    <integer>-40</integer>
    <key>public.kern2.wRight</key>
    <integer>-20</integer>
    <key>public.kern2.yRight</key>
    <integer>-20</integer>
    <key>public.kern2.zRight</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.YLeft</key>
  <dict>
    <key>V</key>
    <integer>-10</integer>
    <key>p</key>
    <integer>-60</integer>
    <key>v</key>
    <integer>-40</integer>
    <key>x</key>
    <integer>-40</integer>
    <key>public.kern2.AERight</key>
    <integer>-80</integer>
    <key>public.kern2.ARight</key>
    <integer>-60</integer>
    <key>public.kern2.CRight</key>
    <integer>-15</integer>
    <key>public.kern2.GRight</key>
    <integer>-15</integer>
    <key>public.kern2.J.ss01Right</key>
    <integer>-40</integer>
    <key>public.kern2.Oright</key>
    <integer>-15</integer>
    <key>public.kern2.S.ss03Right</key>
    <integer>-20</integer>
    <key>public.kern2.S.ss04Right</key>
    <integer>-50</integer>
    <key>public.kern2.SRight</key>
    <integer>-20</integer>
    <key>public.kern2.TRight</key>
    <integer>10</integer>
    <key>public.kern2.WRight</key>
    <integer>-10</integer>
    <key>public.kern2.aRight</key>
    <integer>-80</integer>
    <key>public.kern2.colon</key>
    <integer>-50</integer>
    <key>public.kern2.commaRight</key>
    <integer>-80</integer>
    <key>public.kern2.dRight</key>
    <integer>-60</integer>
    <key>public.kern2.fRight</key>
    <integer>-30</integer>
    <key>public.kern2.gRight</key>
    <integer>-95</integer>
    <key>public.kern2.guilsinglright</key>
    <integer>-30</integer>
    <key>public.kern2.hyphen</key>
    <integer>-70</integer>
    <key>public.kern2.iRight</key>
    <integer>-10</integer>
    <key>public.kern2.jRight</key>
    <integer>-10</integer>
    <key>public.kern2.nRight</key>
    <integer>-50</integer>
    <key>public.kern2.oRight</key>
    <integer>-70</integer>
    <key>public.kern2.qRight</key>
    <integer>-70</integer>
    <key>public.kern2.s.ss03Right</key>
    <integer>-60</integer>
    <key>public.kern2.sRight</key>
    <integer>-70</integer>
    <key>public.kern2.tRight</key>
    <integer>-30</integer>
    <key>public.kern2.uRight</key>
    <integer>-50</integer>
    <key>public.kern2.wRight</key>
    <integer>-30</integer>
    <key>public.kern2.yRight</key>
    <integer>-30</integer>
    <key>public.kern2.zRight</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.ZLeft</key>
  <dict>
    <key>v</key>
    <integer>-20</integer>
    <key>public.kern2.CRight</key>
    <integer>-15</integer>
    <key>public.kern2.GRight</key>
    <integer>-21</integer>
    <key>public.kern2.Oright</key>
    <integer>-20</integer>
    <key>public.kern2.fRight</key>
    <integer>-10</integer>
    <key>public.kern2.hyphen</key>
    <integer>-50</integer>
    <key>public.kern2.oRight</key>
    <integer>-20</integer>
    <key>public.kern2.tRight</key>
    <integer>-20</integer>
    <key>public.kern2.uRight</key>
    <integer>-20</integer>
    <key>public.kern2.wRight</key>
    <integer>-40</integer>
    <key>public.kern2.yRight</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.aLeft</key>
  <dict>
    <key>v</key>
    <integer>-20</integer>
    <key>public.kern2.quoteright</key>
    <integer>-20</integer>
    <key>public.kern2.quotesingle</key>
    <integer>-20</integer>
    <key>public.kern2.tRight</key>
    <integer>-5</integer>
    <key>public.kern2.wRight</key>
    <integer>-10</integer>
    <key>public.kern2.yRight</key>
    <integer>-15</integer>
  </dict>
  <key>public.kern1.cLeft</key>
  <dict>
    <key>public.kern2.aRight</key>
    <integer>-20</integer>
    <key>public.kern2.bRight</key>
    <integer>-10</integer>
    <key>public.kern2.oRight</key>
    <integer>-20</integer>
    <key>public.kern2.qRight</key>
    <integer>-20</integer>
    <key>public.kern2.tRight</key>
    <integer>-15</integer>
  </dict>
  <key>public.kern1.commaLeft</key>
  <dict>
    <key>V</key>
    <integer>-90</integer>
    <key>eight</key>
    <integer>-15</integer>
    <key>five</key>
    <integer>-15</integer>
    <key>nine</key>
    <integer>-85</integer>
    <key>one</key>
    <integer>-85</integer>
    <key>seven</key>
    <integer>-15</integer>
    <key>six</key>
    <integer>-15</integer>
    <key>three</key>
    <integer>-15</integer>
    <key>zero</key>
    <integer>-15</integer>
    <key>public.kern2.TRight</key>
    <integer>-60</integer>
    <key>public.kern2.WRight</key>
    <integer>-70</integer>
    <key>public.kern2.YRight</key>
    <integer>-100</integer>
    <key>public.kern2.quoteright</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.eLeft</key>
  <dict>
    <key>v</key>
    <integer>-10</integer>
    <key>x</key>
    <integer>-5</integer>
    <key>public.kern2.aRight</key>
    <integer>-5</integer>
    <key>public.kern2.quoteright</key>
    <integer>-10</integer>
    <key>public.kern2.quotesingle</key>
    <integer>-10</integer>
    <key>public.kern2.wRight</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.fLeft</key>
  <dict>
    <key>eth</key>
    <integer>-40</integer>
    <key>question</key>
    <integer>10</integer>
    <key>public.kern2.aRight</key>
    <integer>-55</integer>
    <key>public.kern2.commaRight</key>
    <integer>-60</integer>
    <key>public.kern2.dRight</key>
    <integer>-20</integer>
    <key>public.kern2.gRight</key>
    <integer>-20</integer>
    <key>public.kern2.nRight</key>
    <integer>-15</integer>
    <key>public.kern2.oRight</key>
    <integer>-25</integer>
    <key>public.kern2.quoteright</key>
    <integer>10</integer>
    <key>public.kern2.uRight</key>
    <integer>-25</integer>
    <key>public.kern2.wRight</key>
    <integer>-25</integer>
  </dict>
  <key>public.kern1.guilsinglleft</key>
  <dict>
    <key>V</key>
    <integer>-10</integer>
    <key>questiondown</key>
    <integer>-40</integer>
    <key>public.kern2.TRight</key>
    <integer>-50</integer>
    <key>public.kern2.WRight</key>
    <integer>-10</integer>
    <key>public.kern2.YRight</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.hLeft</key>
  <dict>
    <key>v</key>
    <integer>-20</integer>
    <key>public.kern2.quoteright</key>
    <integer>-20</integer>
    <key>public.kern2.quotesingle</key>
    <integer>-20</integer>
    <key>public.kern2.tRight</key>
    <integer>-10</integer>
    <key>public.kern2.wRight</key>
    <integer>-10</integer>
    <key>public.kern2.yRight</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.hyphen</key>
  <dict>
    <key>V</key>
    <integer>-30</integer>
    <key>X</key>
    <integer>-60</integer>
    <key>x</key>
    <integer>-50</integer>
    <key>public.kern2.ARight</key>
    <integer>-40</integer>
    <key>public.kern2.J.ss01Right</key>
    <integer>-50</integer>
    <key>public.kern2.TRight</key>
    <integer>-40</integer>
    <key>public.kern2.WRight</key>
    <integer>-30</integer>
    <key>public.kern2.YRight</key>
    <integer>-70</integer>
  </dict>
  <key>public.kern1.kLeft</key>
  <dict>
    <key>oslash</key>
    <integer>-10</integer>
    <key>v</key>
    <integer>-20</integer>
    <key>public.kern2.aRight</key>
    <integer>-15</integer>
    <key>public.kern2.dRight</key>
    <integer>-20</integer>
    <key>public.kern2.gRight</key>
    <integer>-20</integer>
    <key>public.kern2.hyphen</key>
    <integer>-60</integer>
    <key>public.kern2.oRight</key>
    <integer>-15</integer>
    <key>public.kern2.tRight</key>
    <integer>-20</integer>
    <key>public.kern2.uRight</key>
    <integer>-20</integer>
    <key>public.kern2.wRight</key>
    <integer>-10</integer>
    <key>public.kern2.yRight</key>
    <integer>-25</integer>
  </dict>
  <key>public.kern1.lApostLeft</key>
  <dict>
    <key>V</key>
    <integer>130</integer>
    <key>X</key>
    <integer>120</integer>
    <key>exclam</key>
    <integer>90</integer>
    <key>question</key>
    <integer>90</integer>
    <key>public.kern2.CRight</key>
    <integer>40</integer>
    <key>public.kern2.GRight</key>
    <integer>40</integer>
    <key>public.kern2.HRight</key>
    <integer>70</integer>
    <key>public.kern2.J.ss01Right</key>
    <integer>30</integer>
    <key>public.kern2.JRight</key>
    <integer>90</integer>
    <key>public.kern2.Oright</key>
    <integer>50</integer>
    <key>public.kern2.SRight</key>
    <integer>55</integer>
    <key>public.kern2.TRight</key>
    <integer>120</integer>
    <key>public.kern2.URight</key>
    <integer>90</integer>
    <key>public.kern2.WRight</key>
    <integer>110</integer>
    <key>public.kern2.YRight</key>
    <integer>110</integer>
    <key>public.kern2.ZRight</key>
    <integer>95</integer>
    <key>public.kern2.bRight</key>
    <integer>75</integer>
    <key>public.kern2.fRight</key>
    <integer>30</integer>
    <key>public.kern2.iRight</key>
    <integer>70</integer>
    <key>public.kern2.jRight</key>
    <integer>70</integer>
    <key>public.kern2.quoteleft</key>
    <integer>90</integer>
    <key>public.kern2.quoteright</key>
    <integer>115</integer>
    <key>public.kern2.tRight</key>
    <integer>50</integer>
  </dict>
  <key>public.kern1.nLeft</key>
  <dict>
    <key>V</key>
    <integer>-40</integer>
    <key>v</key>
    <integer>-20</integer>
    <key>public.kern2.quoteleft</key>
    <integer>-20</integer>
    <key>public.kern2.quoteright</key>
    <integer>-10</integer>
    <key>public.kern2.quotesingle</key>
    <integer>-10</integer>
    <key>public.kern2.wRight</key>
    <integer>-10</integer>
    <key>public.kern2.yRight</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.oLeft</key>
  <dict>
    <key>v</key>
    <integer>-20</integer>
    <key>x</key>
    <integer>-10</integer>
    <key>public.kern2.commaRight</key>
    <integer>-10</integer>
    <key>public.kern2.quoteright</key>
    <integer>-10</integer>
    <key>public.kern2.quotesingle</key>
    <integer>-10</integer>
    <key>public.kern2.wRight</key>
    <integer>-10</integer>
    <key>public.kern2.yRight</key>
    <integer>-25</integer>
  </dict>
  <key>public.kern1.quoteleft</key>
  <dict>
    <key>questiondown</key>
    <integer>-80</integer>
    <key>public.kern2.ARight</key>
    <integer>-70</integer>
    <key>public.kern2.GRight</key>
    <integer>-10</integer>
    <key>public.kern2.J.ss01Right</key>
    <integer>-40</integer>
    <key>public.kern2.Oright</key>
    <integer>-10</integer>
    <key>public.kern2.TRight</key>
    <integer>20</integer>
    <key>public.kern2.aRight</key>
    <integer>-60</integer>
    <key>public.kern2.dRight</key>
    <integer>-20</integer>
    <key>public.kern2.gRight</key>
    <integer>-20</integer>
    <key>public.kern2.oRight</key>
    <integer>-20</integer>
    <key>public.kern2.qRight</key>
    <integer>-20</integer>
    <key>public.kern2.s.ss03Right</key>
    <integer>-20</integer>
    <key>public.kern2.sRight</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.quoteright</key>
  <dict>
    <key>public.kern2.ARight</key>
    <integer>-70</integer>
    <key>public.kern2.aRight</key>
    <integer>-70</integer>
    <key>public.kern2.dRight</key>
    <integer>-45</integer>
    <key>public.kern2.gRight</key>
    <integer>-45</integer>
    <key>public.kern2.nRight</key>
    <integer>-10</integer>
    <key>public.kern2.oRight</key>
    <integer>-45</integer>
    <key>public.kern2.sRight</key>
    <integer>-45</integer>
  </dict>
  <key>public.kern1.quotesingle</key>
  <dict>
    <key>public.kern2.ARight</key>
    <integer>-70</integer>
    <key>public.kern2.aRight</key>
    <integer>-70</integer>
    <key>public.kern2.dRight</key>
    <integer>-20</integer>
    <key>public.kern2.gRight</key>
    <integer>-20</integer>
    <key>public.kern2.oRight</key>
    <integer>-20</integer>
    <key>public.kern2.sRight</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.rLeft</key>
  <dict>
    <key>eth</key>
    <integer>-10</integer>
    <key>public.kern2.aRight</key>
    <integer>-50</integer>
    <key>public.kern2.commaRight</key>
    <integer>-60</integer>
    <key>public.kern2.dRight</key>
    <integer>-5</integer>
    <key>public.kern2.gRight</key>
    <integer>-10</integer>
    <key>public.kern2.hyphen</key>
    <integer>-50</integer>
    <key>public.kern2.oRight</key>
    <integer>-15</integer>
    <key>public.kern2.qRight</key>
    <integer>-10</integer>
    <key>public.kern2.quoteright</key>
    <integer>20</integer>
  </dict>
  <key>public.kern1.s.ss03Left</key>
  <dict>
    <key>v</key>
    <integer>-5</integer>
    <key>public.kern2.wRight</key>
    <integer>-5</integer>
    <key>public.kern2.yRight</key>
    <integer>-5</integer>
  </dict>
  <key>public.kern1.sLeft</key>
  <dict>
    <key>public.kern2.yRight</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.tLeft</key>
  <dict>
    <key>public.kern2.gRight</key>
    <integer>-11</integer>
    <key>public.kern2.hyphen</key>
    <integer>-40</integer>
    <key>public.kern2.oRight</key>
    <integer>-5</integer>
  </dict>
  <key>public.kern1.vLeft</key>
  <dict>
    <key>eth</key>
    <integer>-30</integer>
    <key>oslash</key>
    <integer>-20</integer>
    <key>public.kern2.ARight</key>
    <integer>-50</integer>
    <key>public.kern2.aRight</key>
    <integer>-45</integer>
    <key>public.kern2.commaRight</key>
    <integer>-80</integer>
    <key>public.kern2.dRight</key>
    <integer>-20</integer>
    <key>public.kern2.gRight</key>
    <integer>-20</integer>
    <key>public.kern2.hyphen</key>
    <integer>-20</integer>
    <key>public.kern2.oRight</key>
    <integer>-20</integer>
    <key>public.kern2.quoteright</key>
    <integer>10</integer>
    <key>public.kern2.s.ss03Right</key>
    <integer>-15</integer>
    <key>public.kern2.sRight</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.wLeft</key>
  <dict>
    <key>public.kern2.aRight</key>
    <integer>-25</integer>
    <key>public.kern2.commaRight</key>
    <integer>-50</integer>
    <key>public.kern2.dRight</key>
    <integer>-10</integer>
    <key>public.kern2.hyphen</key>
    <integer>-20</integer>
    <key>public.kern2.oRight</key>
    <integer>-10</integer>
    <key>public.kern2.quoteright</key>
    <integer>10</integer>
    <key>public.kern2.s.ss03Right</key>
    <integer>-5</integer>
    <key>public.kern2.sRight</key>
    <integer>-10</integer>
  </dict>
</dict>
</plist>
